@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');

:root {
    --bg-color: #F4D04E;
    --primary-text: #111111;
    --secondary-text: #6B6B6B;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Figtree", sans-serif;
}

body {
    display: flex;
    min-height: 100vh;
    background-color: var(--bg-color);
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

.container {
    background-color: white;
    border-radius: 24px;
    padding: 24px;
    display: flex;
    flex-direction: column;
    box-shadow: 10px 10px 0px 0px black;
    max-width: 384px;
    max-height: 522px;
}

.container img {

    border-radius: 24px;
}

.container #label {
    background-color: var(--bg-color);
    width: fit-content;
    padding: 8px 16px;
    border-radius: 5px;
    font-size: 0.75rem;
    margin: 1.5rem 0 0.8rem 0;
}

.container h3 {
    font-weight: 500;
    margin-bottom: 1.1rem;
    font-size: 1.1rem;
}

.container h1 {
    margin-bottom: 0.7rem;
    font-size: 1.5rem;
    font-weight: 800;
}

.container p {
    color: var(--secondary-text);
    max-width: 500px;
    font-size: 1rem;
    margin-bottom: 1rem;
    line-height: 1.5rem;
    font-weight: 500;
    letter-spacing: 0.2px;
}

.container #label,
h3,
h1 {
    color: var(--primary-text);
}

.card-profile {
    display: flex;
    align-items: center;
}

.card-profile img {
    width: 32px;
    height: 32px;
}

.card-profile span {
    font-weight: 800;
    font-size: 1.1rem;
    margin-left: 0.8rem;
}